<div class = "homepage-wrapper">
<div>
  <h1>Home Page</h1>
<h2>Search for a game</h2>
<input type="text" name="searchGame" id="serachGame" placeholder="Search for a game!">
<button>Search</button>
<br>
</div>
<div id = "Dragon-container" > 
<img src="/image/dragon.png" alt="">
</div>
</div>

{{!-- {{user}}  --}}
{{#each user}}
    

{{/each}}
{{!-- <div id="DRAGON">
  <div id="SELECT">
  <div class="headStart">
    <div class="HSotherSideStart"></div>
    <div class="HSotherSide"></div>
    <div class="horn"></div>
    <div class="pokeSpike">
      <div class="PSright"></div>
    </div>
    <div class="leftSideFace">
      <div class="LSFeye"></div>
    </div>
    <div class="rightSideFace">
      <div class="RSFeye"></div>
    </div>
    <div class="snout">
      <div class="SNwrap">
        <div class="nost"></div>
      </div>
    </div>
  </div>
  
  <div class="wingsStart">
    <div class="WSleftBall">
      <div class="insideBarUpLeft">
        <div class="ball"></div>
        <div class="skewBarOut"></div>
        <div class="webHold">
          <div class="conect"></div>
        </div>
        <div class="lastBall">
          <div class="lastConect"></div>
        </div>
        <div class="web"></div>
        <div class="webTwo"></div>
      </div>
    </div>
    <div class="WSleftBallTwo">
      <div class="insideBarUpRight">
        <div class="ball"></div>
        <div class="skewBarOut"></div>
        <div class="webHold">
          <div class="conect"></div>
        </div>
        <div class="lastBall">
          <div class="lastConect"></div>
        </div>
        <div class="web"></div>
        <div class="webTwo"></div>
      </div>
    </div>
  </div>
  
  <div class="bellyStart">
    <div class="BSstripeTwo"></div>
    <div class="BSstripe"></div>
    <div class="BSround">
      <div class="BSRright"></div>
    </div>
    <div class="BStop"></div>
  </div>
  
  <div class="belt"></div>
    </div>
  
  <div class="legsStart">
    <div class="LShelper"></div>
    <div class="LShelperTwo"></div>
    <div class="footStart"></div>
    <div class="footStartTwo"></div>
    <div class="foot">
      <div class="toe"></div>
      <div class="Ctoe"></div>
      <div class="toeTwo"></div>
      <div class="CtoeTwo"></div>
    </div>
  </div>
</div> --}}


{{!-- here starts new --}}






{{!-- <div class="particles">Go here for <a href="https://codepen.io/collection/FglGm/" target="blank">particles!</a></div> --}}