<h2>Login</h2>
<form action="" id="login">
    <input type="text" name="loginUsername" id="loginUsername" placeholder="Username">
    <input type="text" name="loginPassword" id="loginPassword" placeholder="Password">
    <button>Login</button>
</form>
<hr>
<h2>Signup</h2>
<form action="" id="signup">
<input type="text" name="signupUsername" id="signupUsername" placeholder="Username">
<input type="text" name="signupName" id="signupName" placeholder="Name">
<input type="text" name="signupPassword" id="signupPassword" placeholder="Password">
<button>Signup</button>
</form>