<div class = "Dragon-container"> 
<img src="/image/dragon.png" class= "dragon">
</div>
<h2 class="container text-center">Login</h2>
<form action="" id="login" class="container text-center">
    <div class="row">
        <div>
        <input type="text" name="loginUsername" id="loginUsername" placeholder="Username">
        </div>
    </div>
    <div class="row">
        <div>
        <input type="password" name="loginPassword" id="loginPassword" placeholder="Password">
        </div>
    </div>
    <div class="row">
        <div>
        <button>Login</button>
        </div>
    </div>
</form>
<hr>
<h2 class="container text-center">Signup</h2>
<form action="" id="signup" class="container text-center">
    <div class="row">
        <div>
        <input type="text" name="signupUsername" id="signupUsername" placeholder="Username">
        </div>
    </div>
    <div class="row">
        <div>
        <input type="text" name="signupName" id="signupName" placeholder="Name">
        </div>
    </div>
    <div class="row">
        <div>
        <input type="password" name="signupPassword" id="signupPassword" placeholder="Password">
        </div>
    </div>
    <div class="row">
    <div>
    <button>Signup</button>
    </div>
</div>
</form>

<script src="/js/login.js"></script>

{{!-- new starts here --}}

<div class="sword"></div>