<h1>Welcome back, {{name}}</h1>
<button id="addPic">Add Profile Picture</button>
<button id="editPic" class="hidden">Edit Profile Picture</button>
<form class="hidden" id="picForm">
    <input type="file" name="profilePic" id="profilePic">
    <button id="submitPic">Submit</button>
</form>
<h2>Games I Own</h2>
{{!-- {{#each}}

{{/each}} --}}
{{name}}
<h2>Add a Game!</h2>
<form action="" id="addGame">
    <input type="text" name="gameName" id="gameName" placeholder="Game Name">
    <input type="text" name="gameDescription" id="gameDescription" placeholder="Game Description">
    <input type="number" name="gameNumPlayers" id="gameNumPlayers" placeholder="Number of players">
    <button>Add Game!</button>
</form>

<script src="/js/profile.js"></script>