<h1>Welcome back, {{name}}</h1>
<h2>Games I Own</h2>
{{#each}}

{{/each}}
<h2>Add a Game!</h2>
<form action="" id="addGame">
    <input type="text" name="gameName" id="gameName" placeholder="Game Name">
    <input type="text" name="gameDescription" id="gameDescription" placeholder="Game Description">
    <input type="number" name="gameNumPlayers" id="gameNumPlayers" placeholder="Number of players">
    <button>Add Game!</button>
</form>