body {
    background-color: rgb(125, 244, 228);
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
}

header {
    background-color: rgb(99, 106, 106);
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px
}
.homepage-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48vh;
}

/* .particles {
    margin: 8px;
    padding: 8px;

} */

.hidden {
    display: none;
}

body, html {
    margin: 1px; 
    padding: 1px; 
    font-size: 18px;
  }

  #Dragon-container{
    width: 250px;
    margin-right: 50px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

  }
  #Dragon-container img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }
 
  

  



  

  

.card {
    margin: 2%;
}


